@tailwind base;

.golden-background {
  background: rgb(212, 175, 55);
  background: linear-gradient(
    90deg,
    rgba(212, 175, 55, 1) 0%,
    rgba(255, 232, 37, 1) 53%,
    rgba(122, 97, 0, 1) 100%
  );
}

.text-with-border {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.text-with-border-white {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.course-container > :last-child {
  margin-bottom: 0;
}

@layer base {
  .r-card {
    @apply border px-4 py-3 border-gray-300 rounded-md;
  }

  .r-card-paddingless {
    @apply border border-gray-300 rounded-md;
  }

  .text-input {
    @apply border border-gray-300 rounded-md p-2 outline-0;

    &:focus {
      @apply border-blue-900;
    }
  }
}