@tailwind base;

.btn-primary {
  background-color: rgb(29 78 216) !important;
  transition: .2s ease background-color;

  &:disabled {
    background-color: rgb(134, 163, 241) !important;
  }
  
  &:not(:disabled):hover {
    background-color: rgb(22, 68, 194) !important;
  }

  @apply text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none;
}

.btn-secondary {
  background-color: #7f8c8d !important;
  transition: .2s ease background-color;

  &:disabled {
    background-color: #d4d6d6 !important;
  }
  
  &:not(:disabled):hover {
    background-color: #9aa3a3 !important;
  }

  @apply text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none;
}

.btn-danger {
  background-color: #e74c3c !important;

  &:hover {
    background-color: #ee5a4a !important;
  }

  @apply text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none;
}


.golden-background {
  background: rgb(212, 175, 55);
  background: linear-gradient(
    90deg,
    rgba(212, 175, 55, 1) 0%,
    rgba(255, 232, 37, 1) 53%,
    rgba(122, 97, 0, 1) 100%
  );
}

.text-with-border {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

.text-with-border-white {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

.course-container > :last-child {
  margin-bottom: 0;
}

@layer base {
  .r-card {
    @apply border px-4 py-3 border-gray-300 rounded-md;
  }

  .r-card-paddingless {
    @apply border border-gray-300 rounded-md;
  }

  .text-input {
    @apply border border-gray-300 rounded-md p-2 outline-0;

    &:focus {
      @apply border-blue-900;
    }
  }
}